body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.image-container {
    border: 5px solid #786f76; /* Viền dày hơn với màu tối */
    padding: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 8px 16px rgba(60, 57, 60, 0.2); /* Tạo bóng đẹp hơn */
    border-radius: 5px; /* Bo tròn các góc */
    width: 150px; /* Đặt chiều rộng cho khung chứa ảnh */
    position: relative; /* Cho phép di chuyển ảnh */
    top: 150px; /* Điều chỉnh vị trí từ trên xuống */
    left: 100px; /* Điều chỉnh vị trí từ trái sang */
    transform: translate(-50%, -50%); /* Di chuyển ảnh theo tỷ lệ */
}

.image-container img {
    width: 100%; /* Hình ảnh sẽ chiếm toàn bộ chiều rộng khung */
    height: 200px; /* Thiết lập chiều cao cho hình chữ nhật nhỏ */
    object-fit: cover; /* Đảm bảo hình ảnh giữ đúng tỷ lệ trong khung */
    border-radius: 5px; /* Bo tròn góc ảnh */
}
